* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #5D4CB2;
    margin-left: 50px;
}
img {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 7px;
    border-radius: 50px;
    transition: width 2s, height 2s, transform 1s;
}
a :hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
p {
    font-weight: bolder;
    text-align: center;
}

li {
    font-size: large;
}

.head {
    display: flex;
    vertical-align: middle;
    background: linear-gradient(45deg,#2B1867,#4426A2,#5A2BB5,#6541C7);
    box-shadow: 0 2.5px 5px 2.5px #5A2BB5;
    margin-bottom: 50px;
}

.title {
    margin: 15px;
    width: 50%;
    color: white;
}

.nav-bar {
    width: 50%;
    display: flex;
    align-content: space-around;
    align-items: center;
}

.nav-bar a {
    padding: 10px;
    border: 2.5px solid;
    border-radius: 20px;
    transition: all 0.5s;
    color: white;
}

.nav-bar a:hover {
    border: 2.5px white solid;
    color: #5A2BB5;
    background-color: white;
    font-size: larger;
}